/* variables */
:root {
  --clr-main-01: hsl(215, 51%, 70%);
  --clr-main-02: hsl(178, 100%, 50%);

  --clr-second-01: hsl(217, 54%, 11%);
  --clr--second-02: hsl(216, 50%, 16%);
  --clr-second-03: hsl(215, 32%, 27%);
  --clr-second-04: hsl(0, 0%, 100%);

  --clr-main-bg: var(--clr-second-01);
  --clr-card-bg: var(--clr--second-02);
  --clr-line: var(--clr-second-03);
  --clr-title: var(--clr-second-04);
  --clr-p: var(--clr-main-01);

  --fs-p: 1.125rem;

  --ff-main: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 600;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  /* height: 100%; */
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-p);
  background-color: var(--clr-main-bg);
  font-family: var(--ff-main);
}

.container {
  padding: 1.4rem;
  background-color: var(--clr-card-bg);
  width: 20.5rem;
}

/* main image */

.nft-img {
}
.nft-img:hover::before {
  content: "";
  cursor: pointer;
  position: absolute;
  width: 86.5%;
  height: 51.5%;
  background-color: var(--clr-main-02);
  opacity: 0.5;
  z-index: 10;
  border-radius: 10px;
}

/* content */

.container div:nth-child(2) h1 {
  color: var(--clr-title);
  font-weight: var(--fw-bold);
  font-size: 1.2em;
}

.container div:nth-child(2) p {
  color: var(--clr-p);
  font-weight: var(--fw-regular);
}

.eth-val {
  color: var(--clr-main-02);
}

.eth-days {
  color: var(--clr-main-01);
}

.eth-days,
.eth-val,
.footer p {
  font-size: 0.9em;
}

.eth-days,
.eth-val {
  margin-left: 0.4rem;
}

/* line */
.line {
  position: relative;
  border-top: 0.1em solid var(--clr-line);
}

/* footer */

.footer img {
  width: 1.75em;
  border: 1px solid white;
  border-radius: 100%;
}

.footer p {
  color: var(--clr-main-01);
  margin-left: 0.8rem;
}

.footer p span {
  color: var(--clr-second-04);
}

/* hover */

.container div:nth-child(2) h1:hover,
.footer p span:hover {
  cursor: pointer;
  color: var(--clr-main-02);
}

/* utility */

.br-01 {
  border-radius: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-space-bw {
  justify-content: space-between;
}

.float-left {
  float: left;
}

.mg-top-1 {
  margin-top: 1rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
